.slick-slide img {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 16px 16px 40px 5px rgb(29 53 79 / 10%);
    border-radius: 12px;
}
.slick-slide .imgbox:focus-visible{
    outline: none;
}
.demo-slider {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.demo-slider::before {
    content: "";
    position: absolute;
    left: -95px;
    bottom: -32px;
    width: min(388px, 50vw);
    height: min(382px, 50vw);
    z-index: -1;
    background-image: url(../../../assets/images/landingpage/shape/shape-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.demo-slider::after {
    content: "";
    position: absolute;
    top: -40px;
    right: -96px;
    width: min(267px, 35vw);
    height: min(252px, 35vw);
    z-index: -1;
    background-image: url(../../../assets/images/landingpage/shape/shape-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 900px) {
    .demo-slider::before {
        left: -20px;
        width: min(200px, 40vw);
        height: min(200px, 40vw);
    }
    .demo-slider::after {
        right: -20px;
        width: min(150px, 30vw);
        height: min(140px, 28vw);
    }
}

@media (max-width: 600px) {
    .demo-slider::before {
        left: unset;
        display: none;
    }
    .demo-slider::after {
        right: unset;
        display: none;
    }
}
